body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 20px;
}

h1 {
    color: #c04d00;
    text-align: center;
    font-size: 6em;
}

h2 {
    color: #0091ff;
    font-size: 2em;
}

p {
    max-width: 700px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.lista-vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

    .libro-contenedor {
      display: flex;
      width: 90vw; /* Ancho del libro (90% de la pantalla) */
      height: 90vh; /* Alto del libro (90% de la pantalla) */
      background: rgb(10, 10, 10);
      box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* Sombra elegante */
    }

    /* Columnas de texto (Páginas) */
    .pagina {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    text-align: justify;
    line-height: 1.6;
   background: rgb(10, 10, 10);/* Asegura el fondo blanco de la página */
    color: #000;            /* Hace que el texto de la página sea negro */
    }

    /* La línea vertical divisoria */
    .linea-divisoria {
      width: 1px; /* Grosor de la línea */
      background-color: #ccc; /* Color gris claro */
      align-self: stretch; /* Se estira a lo largo de todo el contenedor */
    }

.text-container {
    display: block;
    padding-bottom: 15px;
    background: rgb(10, 10, 10);
    min-width: 700px;
    max-width: 700px;
    text-align: center;
}


.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background-color: #6b6b6b;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
}



.button:hover {
    background: rgb(161, 161, 161);

}
